<h1>Menus</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag(menus_path, method: "get", class: "searchbar") do %>
        <%= text_field_tag :date, nil, placeholder: 'Date?', "data-provide" => "datepicker" %>
        <div class="">
          <%= select_tag :type, options_for_select([["lunch"], ["dinner"]]), class: "styled-select" %>
        </div>
        <div class="">
          <%= select_tag :portions, options_for_select((1..20)), class: "styled-select" %>
        </div>
        <div class="">
          <%= select_tag :price, options_for_select((4..200)), class: "styled-select" %>
        </div>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% @menus.each do |menu| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

      <div class="menu-card">
      <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path(menu.photo.path) %>');"><%= link_to " ", menu, class: 'link-menu' %>
      </div>

      <%= link_to chef_path(menu.user.id), class: 'link-chef' do %><%= cl_image_tag menu.user.photo.path, width: 300, height: 200, crop: :fill, class: 'avatar' %><% end %>
      </a>
        <div class="description">
          <h3><%= menu.name %></h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <span><%= menu.price %>€</span>
        </div>
        <div class="localisation">
          <p><i class="fa fa-map-marker"></i> City</p>
          <%= link_to "Order now", menu, class: 'btn cta-btn' %>
        </div>
      </div>

    </div>
  <% end %>
  </div>
</div>




