<div class="show">

  <div class="container">
    <!--  left side -->
      <div class="col-xs-12 col-sm-8">
        <div class="menu-card">

          <div class="photo large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path @menu.photo.path, width: 1000, height: 500, crop: :fill  %>');">
          </div>

          <%= link_to landingchef_path(@menu.user.id), class: 'link-chef-large' do %><%= @menu.user.photo ? cl_image_tag(@menu.user.photo.path, width: 300, height: 200, crop: :crop, class: 'avatar') : image_tag("no_photo.png", width: 300, height: 200, crop: :crop, class: 'avatar') %><% end %>

            <div class="params description">
              <div class="param">
                <h2><%= @menu.name %></h2>
                <div><%= @menu.description %></div>
              </div>
              <div class="param">
                <div class="price"><%= @menu.price %>€</div>
              </div>
            </div>

          <div class="params">
            <div class="param"><i class="fa fa-calendar"></i> <%= @menu.friendly_date %></div>
            <div class="param"><i class="fa fa-cutlery"></i> <%= @menu.portions %></div>
          </div>
          <div class="localisation">
            <p><i class="fa fa-map-marker"></i> <%= @menu.user.city if @menu.user.city != NIL %></p>
          </div>


        </div>
        <div class="menu-card">
          <div class="description">
            <ul>
              <li>Starter: <%= @menu.starter %></li>
              <li class="bordered">Meal: <%= @menu.meal %></li>
              <li class="bordered">Dessert: <%= @menu.dessert %></li>
            </ul>
          </div>
        </div>
      </div>

    <!--  right side -->
      <div class="right-card-container col-sm-4">

        <%= render '/orders/form', order: @order %>

        <%= render 'shared/sharing' %>

      </div>
    </div>
  </div>


