<div class="container">
    <div class="row">
      <div class="forms col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
        <div class="section">
          <h2 class="text-center">Forgot your password?</h2>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: 'btn-primary btn-block' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>

