<div class="col-xs-12 col-sm-12 right-cards menu-card" >
  <%= simple_form_for [@menu, @order] do |f| %>
    <%= f.error_notification %>

    <% if (@menu.portions - @menu.ordered_quantity) != 0 %>

      <div class="text-center action-card col-md-12 col-sm-12 portions">
        <p><i class="fa fa-cutlery"></i>
        <% if (@menu.portions - @menu.ordered_quantity) == 1 %>
        <span class="empty"> One last portion available, hurry up!</span>
        <% else %>
        <span> Only <%= @menu.portions - @menu.ordered_quantity %> portions available!</span>
        <% end %>
        </p>
      </div>

    <div class="action-card col-md-6 col-sm-6">
      <span>Take away hours</span>
      <% hours = ["6:30pm-7:30pm", "7:30pm-8:30pm", "8:30pm-9:30pm", "9:30pm-10:30pm" ] %>
      <%= select_tag :take_away_hours, options_for_select(hours), class: "styled-select style_form " %>
    </div>

    <div class="action-card col-md-6 col-sm-6">
      <span>Pig out option</span>
      <% complement = ["0g", "+50g", "+100g", "+150g", "+200g", "+250g", "+300g", "+350g", "+400g", "+450g", "+500g"  ] %>
      <%= select_tag :pig_out_options, options_for_select(complement), class: "styled-select style_form" %>
    </div>

    <div class="action-card col-md-12 col-sm-12">
    <span>How many portions do you want?</span>
    <% portions = (1..(@menu.portions - @menu.ordered_quantity)) %>
      <%= f.input :portions, collection: portions, selected: 1, class: "", label: false %>
    </div>

    <div class="form-actions col-md-12 col-sm-12">
      <%= f.button :submit, 'A table!', class: 'btn cta-btn col-xs-12 button_style' %>
    </div>

    <% else %>
    <div class="text-center action-card col-md-12 col-sm-12 gone">
      It's all gone already. <i class="fa fa-frown-o" aria-hidden="true"></i> <br>
    </div>

    <% end %>


  <% end %>
</div>
