<h1>My orders</h1>

<lu>
<% @orders.each do |order| %>
  <li>
    <div class="order_card">
      <p>Menu: <%= order.menu.name %> from <%= link_to order.menu.user.full_name, chef_path(order.menu.user) %>
      <p>
      <p>Date: <%= order.buddy_date %></p>
      <p>Approuved: <%= order.approved %></p>
      <% unless order.approved %>
        <%= link_to "delete order", order_path(order), method: :delete %>
      <% end %>
    </div>
<% end %>
</lu>
