<div class="container">
    <div class="row">
      <div class="forms col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
        <div class="section">
          <h2 class="text-center small">Description</h2>
        </div>
          <%= simple_form_for(@user) do |f| %>

            <%= f.error_notification %>

            <div class="form-inputs">
            <%= f.input :description, label: false, placeholder: "Tell us more about you" %>
            </div>
            <div class="form-inputs">
              <%= f.input :photo, as: :attachinary %>
            </div>

            <%= f.button :submit, 'Become an amazing chef', :class => 'btn btn-primary btn-block text-center' %>
          <% end %>

      </div>
   </div>
 </div>
