<%= simple_form_for(@user) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<% link_to new_menu_path do %> Become a chef <% end %>
