<div class="top-dishes">
  <div class="row">
  <% menus.each do |menu| %>
    <div class="col-xs-12 col-md-6">

      <div class="menu-card">
      <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path(menu.photo.path) %>');"><%= link_to " ", menu, class: 'link-menu' %>
      </div>

        <div class="description">
          <h3><%= menu.name %></h3>
          <p><%= truncate(menu.description, :length => 40) %></p>
          <span><%= menu.price %>€</span>
        </div>
        <div class="localisation">
          <p><i class="fa fa-map-marker"></i> <%= menu.user.city if menu.user.city != NIL %></p>
          <%= link_to "Order now", menu, class: 'btn cta-btn' %>
        </div>
      </div>

    </div>
  <% end %>
  </div>
</div>


