<div class="container top-dishes">

  <div class="row">
    <div class="col-xs-12 col-sm-12 section">
      <h2 class="text-center">Featured</h2>
    </div>
  </div>

  <div class="row">
  <% @menus.last(3).each do |menu| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

      <div class="menu-card">
        <% menu_photo = (menu.photo ? cl_image_path(menu.photo.path) : image_path("no_photo_menu.png")) %>
        <div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= menu_photo %>');"><%= link_to " ", menu, class: 'link-menu' %>
        </div>

        <%= link_to chef_path(menu.user.id), class: 'link-chef' do %><%= menu.user.photo ? cl_image_tag(menu.user.photo.path, width: 300, height: 200, crop: :fill, class: 'avatar') : image_tag("no_photo.png", width: 300, height: 200, crop: :fill, class: 'avatar') %><% end %>

          <div class="description">
            <h3><%= menu.name %></h3>
            <p><%= truncate(menu.description, :length => 40) %></p>
            <span><%= menu.price %>€</span>
          </div>

          <div class="localisation">
            <p><i class="fa fa-map-marker"></i> City</p>
            <%= link_to "Order now", menu, class: 'btn cta-btn' %>
          </div>

      </div>

    </div>
  <% end %>
  </div>

</div>

